/* CSS Animációk */
@keyframes fadeIn
{
    from { opacity: 0%;}
    to {opacity: 100%;}
}

aside
{
    animation-name: fadeIn;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-direction: normal;
}

main
{
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
}