/*  navbar   */
nav
{
    position:-webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fadf61;
    overflow: hidden;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    z-index: 100; /* Az aside a nav mögé csúszik */
}

.navElem
{
    width: 17%;
    float: left;
    text-align: center;
    padding: 4px 10px;
    margin: 4px;
    text-shadow: 3px 3px 4px black;
    box-shadow: 2px 2px 3px 2px #1c0080;
    text-decoration: none;
    background-color: #562683;
    color: #00FF0F;
}

.navElem:hover{
    color: #FF00FB;
    transform: scale(0.98, 0.98);
}

.aktivFul{
    color: #a68700;
}

/*  --------------- */

/*  tartalom    */
main
{
    width: 100%;
    height: 100%;
    padding: 1px 14% 150px 30px; /*  <---- pontosan be van állítva hogy a footer és aside ne lógjon bele*/
    background-image: url("img/fustocske.png");
    background-color: #cfaa48;
    color: #8a0606;
    font-size: large;
    font-weight: bold;
}
html, body
{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
}
header
{
    padding: 10px 0px 10px 0px;
    text-align: center;
    font-size: 30px;
    color: #ffd157;
    background-image: url("img/proba2.png");
    background-repeat: no-repeat;
    width: 100%;
}
iframe
{
    padding-left: 20px;
}
/*  --------------- */

/*  class   */
.szoveg
{
    width: 80%;
}
.center
{
    padding: auto;
}
/*  --------------- */

/*  footer  */
footer
{
    height: 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: right;
    padding: 5px 0;
    font-size: 12px;
    background-color: #48753d;
    z-index: 100; /* aside a footer mögé*/
}
footer p
{
    color: #adf38f;
    padding-right: 12px;
}
#cssValidalt
{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}
#soundCloud
{
    float: left;
    width: 30%;
    padding-left: 70px;
}
/*  -------------   */

/*  aside   */
aside
{
    position: absolute;
    color: aliceblue;;
    background-color: #585e69;
    height: 100%;
    width: 14%;
    right: 0;
    border-radius: 42px 0px 0px 0px;
    z-index: 99; /* Az aside a nav mögé csúszik */
}
aside iframe
{
    margin: 20px 0px 0px 5px;
}
#login
{
    width: 90%;
    padding: 20px 0px 0px 5px;
}
/* Kis képernyős media-query átalakítás */
@media only screen and (max-width: 800px)
{
    aside{opacity: 0%;}
    header{font-size: 15px;}
    .navElem{font-size: 10px;}
    #soundCloud{opacity: 0%;}
}