/*  HTML5 szabvány elemek   */
/*body{
    background-image: url("fustocske.png");
}
*/
html, body
{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
}

header
{
    padding: 10px;
    /*padding-top: 5px;*/
    text-align: center;
    /*background-color: #5e6a85;*/
    font-size: 30px;
    color: lightgrey;
    /*background-color: #A455C6;*/
    /*background-image: linear-gradient(lightslategray, darkgray, slategrey);*/
    /*background-image: linear-gradient(#4B3B8A, #55BBC4, slategrey);*/
    background-image: url("proba2.png");
    background-repeat: no-repeat;
}

footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    padding-top: 5px;
    padding-bottom: 3px;
    font-size: 12px;
    background-color: black;
}
footer p
{
    color: aliceblue;
    padding-right: 12px;
}
aside
{
    position: absolute;
    color: aliceblue;;
    background-color: #585e69;
    height: 100%;
    width: 14%;
    top: 0;
    right: 0;
}
main
{
    position: fixed;
    width: 100%;
    padding-left: 20px;
    height: 100%;
}

/*  Menü elemek   */

nav
{
    position:-webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #101041;
    overflow: hidden;
    font-size: 20px;
    font-weight: 700;

}

.navElem
{
    width: 17%;
    float: left;
    text-align: center;
    padding: 4px 10px;
    margin: 4px;
    text-decoration: none;
    /*color: #bdc274;*/ /* ez nem vágom hol lenne*/
    background-color: #4B3B8A;
    /*background-color: #7694c4;*/
    color: #00FF0F;
}

.navElem:hover{
    color: #FF00FB;
    transform: scale(0.98, 0.98);
}

.navElem:active{
    color: #E4FF00;
}

#cssValidalt
{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

/*  Random használható, így az oldal elemei nem lógnak bele az <aside>-ba*/
.sidebarigTart
{
    width: 70%;
}